/*Div parent of component*/
    .divContainerBasicMenu {
        display: flex;
        flex-direction: column;
        background-color: #f5f7fb;
        min-height: 100vh;
        text-align: left;
        margin: 0;
    }

/*header of page*/
    .headerContainerBasicMenu {
        padding: 21px 30px 21px 30px;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        background-color: rgb(253, 253, 251);
    }
    /*make search and notification sections with "display=flex"*/
        .headerSearchSectionBasicMenu, .avatarNotificationBasicMenu {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }
    
    /*search button, remove the border*/
        .searchBtnBasicMenu {
            border: none;
            outline: none;
            background-color: rgb(253, 253, 251);
        }
   
    /*search div container*/
        .headerSearchSectionBasicMenu{
            width: 40%;
            height: 30px;
            border: 1px solid #ddd;
            border-radius: 50px;
            padding: 0 0 0 15px;
        }
    
    .notificationBtnBasicMenu{
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }
    /*avatar styling*/
        .avatarBasicMenu {
            width: 30px;
            object-fit: cover;
        }
    
    /*welcome message and filter section*/
        /*welcome message*/
            .welcomeMessageFilterBasicMenu {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 40px 30px 0px 30px;
            }
        
        /*filter div container*/
            .filterSelectDivContainerBasicMenu{
                display: flex;
                gap: 10px;
                background-color: rgb(66, 66, 196);
                color: white;
                padding: 10px;
                border-radius: 10px;
                /*make a move style*/
                transition: background-color 0.3s ease, transform 0.3s ease;
                cursor: pointer;
            }
            .filterSelectDivContainerBasicMenu:hover{
                background-color: rgb(53,53,170);
                transform: translateY(-2px);
            }
        
         /*filter selection and option*/
            .filterSelectBasicMenu{
                background-color: transparent;
                color: white;
                border: none;
                outline: none;
            }
            .filterSelectBasicMenu option{
                background-color: white;
                color: rgb(66, 66, 196);
            }
     
    /*course details cards*/
        .coursesDetailsBasicMenu {
            width: 24%;
            display: flex;
            align-items: center;
            gap: 15px;
            background-color: rgb(253, 253, 251);
            border-radius: 10px;
            margin: 60px 10px 60px 10px;
            padding: 20px;
            border: 1px solid #ddd;
            /*make a move style to cards*/
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .coursesDetailsBasicMenu:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
   
    /*styling courses cards icons*/
       .allIconsBGBasicMenu{
            background-color: rgb(66, 66, 196, 0.123);
            color: rgb(66, 66, 196);
            width: 25px;
            height: 25px;
            padding: 3px;
            border-radius: 25px;
        }
   
    /*container of courses cards label and view all button*/
        .labelOurCoursesBasicMenu{
            display: flex;
            justify-content: space-between;
            margin: 0 30px 5px 30px;
        }
   
    /*view all button*/
        .viewAllBtnBasicMenu{
            color: rgb(66, 66, 196);
            border: none;
            background-color: #f5f7fb;
            cursor: pointer;
        }
    
    /*courses cards*/
        .courseCardDivContainerBasicMenu {
            width: 24%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: #f5f7fb;
            border: 1px solid #ddd;
            border-radius: 15px;
            margin: 0px 10px 0px 10px;
            /*make a move style to cards*/
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            cursor: pointer;
        }
        .courseCardDivContainerBasicMenu:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
   
    /*container of showing courses cards*/
        .coursesInfoDivContainerBasicMenu {
                padding: 10px
            }
  
    /*courses cards images*/
        .imgCoursesCardsBasicMenu {
            width: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0 ;
        }
    
    /*teacher section*/
        .courseTeacherBasicMenu{
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 5px 0 0 0;
        }

    /*level and pricing section*/
        .courseLevelPriceBasicMenu{
            display: flex;
            justify-content: space-between;
            margin: 5px 0 0 0;
        }
        .levelBasicMenu {
            padding: 5px;
            border-radius: 10px;
            font-size: 12px;
            color: rgb(55, 134, 16);
            background-color: rgb(55, 134, 16, 0.123);
        }
        .PriceBasicMenu {
            color: rgb(66, 66, 196);
        }

.headerContainerBasicMenu, .divContainerCoursesDetailsBasicMenu, .ourCoursesBasicMenu {
    display: flex;
    justify-content: space-between;
}

/*media query for mobile and tablets devices(site responsive)*/
    @media(max-width: 768px){

        .headerContainerBasicMenu{
             padding: 10px 15px 10px 15px;
             flex-direction: column;
             gap: 5px;
        }
        
        .headerSearchSectionBasicMenu, .avatarNotificationBasicMenu {
            gap: 10px;
            width: 100%;
            height: auto;
        }

        .avatarNotificationBasicMenu {
            justify-content: space-around;
        }

        .headerSearchSectionBasicMenu{
            padding: 0 0 0 7px;
        }

        .levelBasicMenu {
            padding: 1px;
        }

        .welcomeMessageFilterBasicMenu{
            margin: 10px;
        }

        .coursesDetailsBasicMenu {
            padding: 10px;
            width: 90%;
            margin: 0;
        }

        .divContainerCoursesDetailsBasicMenu, .ourCoursesBasicMenu {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;
            margin: 10px;
        }

        .courseCardDivContainerBasicMenu {
            width: 100%;
            margin: 0;
        }

    }








