.divContainerLayout {
    display: flex;
}
.leftBarContainerLayout {
    width: 20%;
}
.outletContainerLayout{
    width: 80%;
}

/*media query for mobile and tablets devices(make the site responsive)*/
    @media (max-width: 768px){
 
        .leftBarContainerLayout {
            width: 10%;
        }
        
        .outletContainerLayout{
            width: 90%;
        }

    }
